/*
Common weight name mapping
100
Thin (Hairline)

200
Extra Light (Ultra Light)

300
Light

400
Normal

500
Medium

600
Semi Bold (Demi Bold)

700
Bold

800
Extra Bold (Ultra Bold)

900
Black (Heavy)
*/

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #777777;
}

.h3 {
  color: black;
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  font-weight: 400;
}

.par {
  color: #777;
  font-size: 1.4rem;
  line-height: 3rem;
}

